<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ph.edu.sscrmnl.privatesms" >

    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.PROCESS_OUTGOING_CALLS" />


    <application
        android:name=".ApplicationClass"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".activity.MainActivity"
            android:label="Private SMS: Authentication"
            android:windowSoftInputMode="stateAlwaysHidden" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!--
        Comment this first, will be needed later on
        <activity-alias
            android:name=".Launcher"
            android:targetActivity=".activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>
        -->
        <activity
            android:name=".activity.MainMenuActivty"
            android:label="Private SMS: Main Menu" >
        </activity>
        <activity
            android:name=".activity.ContactsActivity"
            android:label="Private SMS: Contacts" >
        </activity>
        <activity
            android:name=".activity.ChangePinActivity"
            android:label="Private SMS: Change Pin" >
        </activity>
        <activity
            android:name=".activity.SMSListActivity"
            android:label="Private SMS: Conversations" >
        </activity>

        <receiver
            android:name=".receiver.SMSReceiver"
            android:enabled="true"
            android:exported="true" >
            <intent-filter android:priority="2147483647" >
                <action android:name="android.provider.Telephony.SMS_RECEIVED" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".activity.SMSActivity"
            android:label="Private SMS: Conversation Contents"
            android:windowSoftInputMode="adjustPan" >
        </activity>

        <receiver
            android:name=".receiver.RefreshAdapterReceiver"
            android:enabled="true"
            android:exported="false" >
        </receiver>
        <receiver
            android:name=".receiver.LaunchAppViaDialReceiver"
            android:enabled="true"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.NEW_OUTGOING_CALL" />
            </intent-filter>
        </receiver>
    </application>

</manifest>
